<h1 class="my-4"><a href="/" class="text-body text-decoration-none">Freefeed Feeder</a></h1>

<div class="row row-cols-auto">
    <div class="col col-sm-12 col-md-6">
      <p>Stats:</p>
      <ul>
        <li class="my-2">Active feeds: <b><%= number_with_delimiter enabled_feeds_count -%></b></li>
        <li class="my-2">Last imported post: <b><%= ago(last_post_created_at).upcase_first -%></b></li>
        <li class="my-2">Total imported posts: <b><%= number_with_delimiter Post.count -%></b></li>
        <li class="my-2">Imported within the last 24h: <b><%= number_with_delimiter Post.where("created_at > ?", 24.hours.ago).count -%></b></li>
        <li class="my-2">Total non-unique subscriptions: <b><%= number_with_delimiter Feed.sum(:subscriptions_count) -%></b></li>
      </ul>
    </div>
    <div class="col col-sm-12 col-md-6">
      <p>Refs:</p>
      <ul>
        <li class="my-2">New feed announcements: <a href="https://freefeed.net/feeder">freefeed.net/feeder</a>.</li>
        <li class="my-2">If you like to see a new blog imported to Freefeed, please post a message to&nbsp;the&nbsp;<a href="https://freefeed.net/feeder-inbox">inbox</a>, or <a href="https://github.com/dreikanter/feeder/issues/new">open an issue</a> on GitHub.</li>
        <li class="my-2">GitHub project: <a href="https://github.com/dreikanter/feeder">github.com/dreikanter/feeder</a>.</li>
      </ul>
    </div>
</div>

<table class="table table-bordered my-4">
  <%= feeds_table_header(order_by: order_by, order: order) -%>
  <tbody>
    <%- feeds.each do |feed| -%>
      <tr>
        <td><%= link_to feed.name, "https://freefeed.net/#{feed.name}" -%></td>
        <td><%= format_feed_state(feed) -%></td>
        <td><%= number_with_delimiter feed.posts_count -%></td>
        <td>
          <%- if feed.refreshed_at -%>
            <%= tag.time datetime: feed.refreshed_at.rfc3339 do -%>
              <%= ago(feed.refreshed_at) -%>
            <%- end -%>
          <%- end -%>
        </td>
        <td>
          <%- if feed.last_post_created_at -%>
            <time datetime="<%= feed.last_post_created_at.rfc3339 %>">
              <%= ago(feed.last_post_created_at) -%>
            </time>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
