<div class="panel panel-default">
  <table class="table table-bordered table-stats text-center">
    <tbody>
      <tr>
        <td class="col-lg-3">
          <h4><%= Feed.count %></h4>
          <p>Feeds<i class="fa fa-feed padding-ls"></i></p>
        </td>
        <td class="col-lg-3">
          <h4><%= Post.count %></h4>
          <p>Posts<i class="fa fa-newspaper-o padding-ls"></i></p>
        </td>
        <td class="col-lg-3">
          <h4><%= time_ago_tag(DataPoint.ordered.for('pull').first.try(:created_at)) %></h4>
          <p>Last update</p>
        </td>
        <td class="col-lg-3">
          <h4><%= time_ago_tag(Post.order(created_at: :desc).first.try(:created_at)) %></h4>
          <p>Last post</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Imported posts</h3>
  </div>
  <div class="panel-body">
    <canvas id="history-chart" height="100"></canvas>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Feeds</h3>
  </div>

  <table class="table table-bordered table-hover data-table">
    <thead>
      <tr>
        <th>Feed</th>
        <th class="min-width">Posts</th>
        <th class="min-width ">Last update</th>
      </tr>
    </thead>
    <tbody>
      <% @feeds.each do |feed| %>
        <tr>
          <td>
            <a href="<%= "#{ENV['FREEFEED_BASE_URL']}/#{feed.name}" %>"><%= feed.name %></a>
          </td>
          <td class="text-right nowrap">
            <%= feed.posts_count %>
          </td>
          <td class="nowrap">
            <%= readable_time_tag feed.refreshed_at if feed.refreshed_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recent posts</h3>
  </div>

  <table class="table table-bordered table-hover data-table">
    <thead>
      <tr>
        <th class="min-width">ID</th>
        <th class="min-width nowrap">Group</th>
        <th class="nowrap">Excerpt</th>
        <th class="min-width text-center"><i class="fa fa-question-circle padding-ls padding-rs" title="Status" data-toggle="tooltip" data-placement="bottom"></i></th>
        <th class="min-width text-center"><i class="fa fa-comment-o padding-ls padding-rs" title="Comments" data-toggle="tooltip" data-placement="bottom"></i></th>
        <th class="min-width text-center"><i class="fa fa-paperclip padding-ls padding-rs" title="Attachments" data-toggle="tooltip" data-placement="bottom"></i></th>
        <th class="min-width nowrap">Created at</th>
        <th class="min-width nowrap">Published at</th>
      </tr>
    </thead>
    <tbody>
      <% @recent_posts.each do |post| %>
        <tr>
          <td>
            <%= post.id %>
          </td>
          <td class="nowrap">
            <a href="<%= "#{ENV['FREEFEED_BASE_URL']}/#{post.feed_name}" %>"><%= post.feed_name %></a>
          </td>
          <td class="excerpt truncated-line text-muted">
            <% if post.freefeed_post_id %>
              <%= link_to truncate(post.text, length: 100), "#{ENV['FREEFEED_BASE_URL']}/#{post.feed_name}/#{post.freefeed_post_id}" %>
            <% end %>
          </td>
          <td class="text-center">
            <i class="fa post-status post-status--<%= post.status %>"></i>
          </td>
          <td class="text-center<%= ' zero' if post.comments.empty? %>">
            <%= post.comments.count %>
          </td>
          <td class="text-center<%= ' zero' if post.attachments.empty? %>">
            <%= post.attachments.count %>
          </td>
          <td class="nowrap">
            <%= readable_time_tag post.created_at %>
          </td>
          <td class="nowrap">
            <%= readable_time_tag post.published_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recent updates</h3>
  </div>

  <table class="table table-bordered table-hover data-table">
    <thead>
      <tr>
        <th>Feed name</th>
        <th class="min-width"><i class="fa fa-question-circle padding-ls padding-rs" title="Status" data-toggle="tooltip" data-placement="bottom"></i></th>
        <th class="min-width text-right nowrap"><i class="fa fa-newspaper-o padding-ls padding-rs" title="New Posts" data-toggle="tooltip" data-placement="bottom"></i></th>
        <th class="min-width text-right nowrap">Duration</th>
        <th class="min-width nowrap">Executed at</th>
      </tr>
    </thead>
    <tbody>
      <% DataPoint.recent.for('pull').each do |dp| %>
        <tr>
          <td>
            <a href="<%= "#{ENV['FREEFEED_BASE_URL']}/#{dp.details['feed_name']}" %>"><%= dp.details['feed_name'] %></a>
          </td>
          <td class="text-center">
            <i class="fa post-status post-status--<%= dp.details['status'] %>"></i>
          </td>
          <td class="text-center<%= ' zero' if dp.details['posts_count'].try(:zero?) %>">
            <%= dp.details['posts_count'] %>
          </td>
          <td class="text-right nowrap">
            <%= dp.details['duration'].try(:round, 2) %> s
          </td>
          <td class="nowrap">
            <%= readable_time_tag dp.created_at %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Update batches</h3>
  </div>

  <table class="table table-bordered table-hover data-table">
    <thead>
      <tr>
        <th class="nowrap">Executed at</th>
        <th class="text-right nowrap">Duration</th>
      </tr>
    </thead>
    <tbody>
      <% @batches.each do |dp| %>
        <tr>
          <td>
            <%= readable_time_tag dp.created_at %>
          </td>
          <td class="text-right nowrap">
            <%= dp.details['duration'].try(:round, 2) %> s
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p class="text-center text-muted margin-tl margin-bxl">
  <a href="https://github.com/dreikanter/feeder" class=""><i class="fa fa-github padding-rs"></i>Source code</a> (MIT)
  <span class="padding-ls padding-rs">-</span>

  <a href="https://github.com/dreikanter/feeder/issues" class="">Bug reports</a>
  <span class="padding-ls padding-rs">-</span>

  Maintained by: <strong><a href="https://freefeed.net/dreikanter">@dreikanter</a></strong>
  <span class="padding-ls padding-rs">-</span>

  Official group: <strong><a href="https://freefeed.net/feeder">@feeder</a></strong>
</p>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();

    var chart = new Chart(document.getElementById("history-chart"), {
      type: "bar",
      data: {
        labels: <%= raw @history.keys.to_json %>,
        datasets: [{
          label: "Imported posts",
          fill: true,
          backgroundColor: Chart.helpers.color("#337ab7").alpha(0.5).rgbString(),
          borderColor: "#337ab7",
          borderWidth: 1,
          data: <%= raw @history.values.to_json %>,
        }]
      },
      options: {
        scales: {
          xAxes: [{
            display: true,
            ticks: {
              callback: function(dataLabel, index) {
                var date = moment(dataLabel)
                var monday = date.weekday() === 0
                return monday ? date.format("D") : "";
              }
            }
          }],
          yAxes: [{
            display: true,
            beginAtZero: false
          }]
        },
        legend: {
          display: false
        }
      }
    });
  });
</script>
